:root {
    --primary-color: #ef10f7e8;
    --secondary-color: #235d8b;
    --accent1-color: #0a0a0a;
    --accent2-color: #83aec4;

    --heading-font: 'Rock Salt', cursive;
    --paragraph-font: 'winky sans', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
    background-color: var(--primary-color);
    margin: 0 auto;
}

nav ul {
    display: flex;
    list-style-type: none;
    max-width: 850px;
    margin: 0 auto;
    justify-content: space-around;
}

nav a {
    display: block;
    color: #080808;
    text-align: center;
    padding: 5px 25px;
    margin: 0 auto;
    font-size: 19px;
    font-weight: bold;

}

nav a:hover {
    background-color: #010b0f;
    color: #e0dfdc;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

body {
    font-family: var(--paragraph-font);
    font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    /*body paragraph font*/
    color: var(--accent2-color);
    margin: 30px;
}

a {
    /* Navigation links */
    text-decoration: none;
}

header,
main,
footer {

    max-width: 1200px;
    margin: 0 auto
}

.hero {
    position: relative;
    /* Positioning relative to the hero div */
}

.hero img {
    width: 100%;
    /* Set width of the image */
    height: auto;
    /* Maintain aspect ratio */
    margin: 0 auto;
}


.hero h1 {
    position: absolute;
    top: 1em;
    /* Adjust as needed */
    left: 50%;
    /* Center horizontally */
    transform: translateX(-50%);
    /* Centering adjustment */
    font-family: var(--heading-font);
    /* Heading font */
    font-size: 55px;
    /* Font size for heading */
    color: var(--accent1-color);
    /* Text color */
    padding: 1rem;
    /* Padding around the heading*/
    margin: 0 auto;
    /* Margin around the heading */
}

.hero article {
    position: absolute;
    /* Positioning relative to the hero div */
    background-color: #83aec49a;
    bottom: 2.5rem;
    /* Adjust as needed */
    left: 2rem;
    /* Center horizontally */
    right: 2rem;
    /* Centering adjustment */
    font-size: 1.5em;
    /* Font size for article text */
    padding: 25px;
    /* Padding around the article text */
    margin: 0 auto;
}

.hero article img {
    display: flexbox;
    /* Float image to the right */
    width: 20rem;
    /* Set width of the image */
    margin: 0 auto;
    /* Margin around the image */
}

.hero article p {
    font-size: 1em;
    /* Font size for article heading */
    color: var(--accent1-color);
    /* Text color */
    font-family: var(--paragraph-font);
    /* Heading font */
    margin: 0 auto;
}


.history {
    display: grid;
    grid-template-columns: repeat(2, 2fr) 2fr;
    /* Responsive grid layout */
    gap: 20px;
    /* Gap between grid items */
    margin: 40px 0;
    /* Margin around the grid */
    justify-items: center;
    /* Center items in the grid */
}

.history h2 {
    grid-column: 1/-1;
    /* Span all columns */
    justify-self: center;
    /* Center the heading */
    padding: 10px;
    /* Padding around the heading */
    font-family: var(--heading-font);
    /* Heading font */
    background-color: var(--accent1-color);
    /* Background color */
    border-radius: 10px;
    /* Rounded corners */
}

.history img {
    width: 90%;
    /* Set width of the image*/
    height: auto;
    margin: 1rem auto;
    padding-bottom: 30px;
}

.history p {
    font-size: 1.2em;
    /* Font size for article text */
    font-family: var(--paragraph-font);
    /* Heading font */
    padding: 15px;
    /* Padding around the article text */
    margin: 0 auto;
    /* Margin around the article text */
}


.adventure h2 {
    grid-column: 1/-1;
    /* Span all columns */
    justify-self: center;
    /* Center the heading */
    padding: 10px;
    /* Padding around the heading */
    font-family: var(--heading-font);
    /* Heading font */
    color: var(--accent2-color);
    background-color: var(--accent1-color);
    /* Background color */
    border-radius: 10px;
    /* Rounded corners */
}

.adventure figure {
    display: inline-block;
    /* Display as inline-block for centering */
    margin: 10px;
    /* Margin around the figure */
    text-align: center;
    /* Center text within the figure */
    font-weight: bold;
    /* Bold text */
    font-size: 15px;
    /* Font size for figure text */
    color: var(--accent2-color);
    /* Text color */
    background-color: var(--accent1-color);
    /* Background color */
    margin-top: 30px;
}

.adventure img {
    max-width: 200px;
    /* Set width of the image */
    height: auto;
    /* Maintain aspect ratio */
}

.contactinfo {
    display: grid;
    grid-template-columns: repeat(2, 2fr) 2fr;
    /* Responsive grid layout */
    gap: 20px;
    /* Gap between grid items */
    margin: 40px 0;
    /* Margin around the grid */
    justify-items: center;
    /* Center items in the grid */
}

.map iframe {
    margin: 0 auto;
    width: 400px;
    height: auto;
}

.send-message {
    font-size: 15px;
    font-family: var(--paragraph-font);
    font-weight: bolder;
    padding: 15px;
    background-color: var(--primary-color);
    color: var(--accent1-color);
    border-radius: 5px;
}

.send-message:hover {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.contactpage h2 {
    font-family: var(--heading-font);
}

.employees {
    display: grid;
    grid-template-columns: repeat(2, 2fr) 2fr;
    /* Responsive grid layout */
    gap: 10px;
    /* Gap between grid items */
    margin: auto;
    /* Margin around the grid */
    justify-items: center;
    /* Center items in the grid */
}

.employees figure {
    display: inline-block;
    /* Display as inline-block for centering */
    margin: auto;
    /* Margin around the figure */
    text-align: center;
    /* Center text within the figure */
    font-weight: bold;
    /* Bold text */
    font-size: 15px;
    /* Font size for figure text */
    color: var(--accent2-color);
    /* Text color */
    background-color: var(--accent1-color);
    /* Background color */
    margin-top: 30px;
}

.employees img {
    display: flex;
    /* Float image to the right */
    max-width: 250px;
    /* Set width of the image */
    height: auto;
    /* Maintain aspect ratio */
    margin: 0 auto;
    /* Margin around the image */
    justify-content: center;


}

.trips {
    position: relative;
    display: inline-block;
    /* Adjusts the container size to the image */
}

.background-image {
    display: flex;
    width: 70%;
    /* Adjust as needed */
    height: auto;
    /* Maintain aspect ratio */
    justify-content: center;
    margin: 0 auto;
}

.button-link {
    display: flex;
    /* Float image to the right */
    width: 150px;
    /* Set width of the image */
    font-size: 25px;
    margin: 0 auto;
    /* Margin around the image */
    position: relative;
    bottom: 200px;
    /* Adjust the vertical position */
    justify-content: center;
    /* Adjust the horizontal position */
    padding: 20px 20px;
    /* Padding around the button */
    background-color: #ef10f7e8;
    /* Semi-transparent background */
    color: #000;
    /* Text color */
    border-radius: 5px;
    /* Rounded corners */
    transition: background-color 0.3s;
    /* Smooth hover effect */
}

.button-link:hover {
    background-color: #eb92dfbe;
    /* Change background on hover */
    transform: scale(1.1);
}

.diff-trips {
    display: grid;
    grid-template-columns: repeat(2, 2fr) 2fr;
    /* Responsive grid layout */
    gap: 20px;
    /* Gap between grid items */
    margin: 40px 0;
    /* Margin around the grid */
    justify-items: center;
    /* Center items in the grid */
    font-family: var(--paragraph-font);
    /*body paragraph font*/
    font-size: 20px;
    color: #ee82ee;
    /* Text color */
}

.diff-trips img {
    display: flex;
    /* Float image to the right */
    width: 300px;
    /* Set width of the image */
    height: auto;
    /* Maintain aspect ratio */
    margin: 0 auto;
    /* Margin around the image */
    justify-content: center;
    /* Adjust the horizontal position */
    border: #a74d9f 15px solid;
    /* Border around the image */
    color: #000000;
}

.diff-trips p {
    color: #000;
}

.diff-trips :hover {
    color: #000000;
    /* Change color on hover */
    transform: scale(1.1);
    /* Scale up on hover */
}
.trips-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

.trips-table th, .trips-table td{
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    
}

.trips-table th{
    background-color: #eed0ee;
}


.footer {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    background-color: var(--primary-color);
    color: var(--accent1-color);
}

.footer p {
    margin: 0 auto;
    padding: 15px;
    font-size: 20px;

}

.social img {
    width: 25px;
    padding: 15px;
    /* Set width of the image */
}