main {
    max-width: 840px;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
    margin-left: 10%;

}

main p {
    margin-left: 3%;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 10%;
}

p {
    padding: 20px;
}

aside {
    background-color: black;
    padding: 10px;
    color: white;
    width: 200%;
    height: auto;
    margin: 0 auto;
    border: 1px solid black;
}

img {
    width: 200px;
    height: auto;
}

footer {
    text-align: center;
    margin-top: 50px;
    border-top: 1px solid #000;
    padding: 20px;
}