main {
    max-width: 840px;
}
main img{
    width: 70%;
    height: auto;
    object-fit: cover;
}
nav {
    background-color: rgb(185, 46, 178);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: rgb(139, 0, 127);
    margin-left: 10%;

}

main p {
    margin-left: 3%;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;   
}

p {
    padding: 20px;
}

.hero1 {
    position: relative;
    bottom: 200px;
    color: rgb(20, 12, 12);
    background: radial-gradient(#eee, #d6d6d24b);
    width: 90%;
    height: auto;
    font-weight: 500;
    font-size: larger;
}

img {
    width: 200px;
    height: auto;
}

footer {
    text-align: center;
    margin-top: 50px;
    border-top: 1px solid #000;
    padding: 20px;
}