.callout {
    max-width: 100%;
    margin: 40px;
    border: 5px gray;
    padding: 10px;
    background-color: blue;
    float: right
}

.callout img {
    max-width: 100%;
    margin: 0;
    border: 10px solid rgb(192, 188, 188);
    padding: 10px;
    background-color: rgb(60, 60, 151);
    
}

blockquote {
    margin: 20px;
}

cite {
    display: block;
    border-top: dotted;
    padding-top: 20px;
    text-align: left;
    font-size: 13px;
}